{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Data Display</title>
    <link rel="stylesheet" href="{% static 'assets/data_display.css' %}">
    <style>
        .error-message {
            color: rgb(75, 5, 5);
            text-align: center;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <section>
        {% if error_message %}
            <div class="error-message">
                <p>{{ error_message }}</p>
            </div>
        {% else %}
            <h1>Your Medical Dataset</h1>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            {% for column in data.columns %}
                            <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        {% for _, row in data.iterrows %}
                        <tr>
                            {% for value in row %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </section>
    <script src="{% static 'assets/js/data_display.js' %}"></script>
    {% csrf_token %}
            <script>
                window.addEventListener('beforeunload', function(e) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/cleanup/', true);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                    xhr.send();
                });

                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
            </script>
</body>
</html>
