{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Instructions</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/instructionstyle.css'%}"/>

</head>
<body>
    <header>
        <h1>Welcome to Our MediGenie</h1>
    </header>
    <main>
        <section class="instructions">
            <h2>How to use</h2>
            <p>
                <p>1. Upload Csv or Xlsx file </p>
                <img src="{% static 'assets\images\upload1.png'%}" alt="Project Image">
                <p>"After successfully submitting the file, the file upload interface will automatically redirect to the home page."</p>
                <hr>
            </p>
            
            <p>
                <p>2.If you want to see your data you can press the 'Data Table' button</p>
                <img src="{% static 'assets\images\submitt.png'%}" alt="Project Image">
                <hr>

            </p>
            <p>
                <p>3."If you wish to analyze the data using the chatbot, you can click on the 'Chat with Me' button."</p>
                <img src="{% static 'assets\images\chat1.png'%}" alt="Project Image">
                <hr>
            </p>
            <p>
                <p>3."If you require guidance on how to use the application and need information regarding prompts, please click the 'Guide' button in the Help section. There, you will find instructions on 'how to use' as well as some examples of prompts."</p>
                <P style="font-weight: bold;"> This chatbot is specifically designed for analyzing uploaded data and will not respond to unrelated questions. </P>
                <img src="{% static 'assets\images\guide.png'%}" alt="Project Image">
                <hr>
            </p>
        </section>
    </main>
    <footer>
        <p>&copy; MediGenie 2023</p>
    </footer>
</body>
</html>
