{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Instructions</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/instructionstyle.css'%}"/>

</head>
<body>
    <header>
        <h1>Welcome to Our MediGenie</h1>
    </header>
    <main>
        <section class="instructions">
            <h2>Reference Prompts</h2>
            <p>
                <p>1. who is the most aged patient?</p>
                <p>2. please provide the count of male patients ? </p>
                <p>3. please provide only the mostly repeated address? </p>
                <p>4. which the most frequent doctor? </p>
                <p>5. can you please provide the 'most repeated doctor department'?</p>
                <p>6. can you please provide the 'most repeated', 'Medicine Name'?</p>
                <p>7. which is the highly frequent disease?</p>
                <p>8. Could you please provide the count of the most frequent disease? </p>
                <p>9. Retrieve all the patient visit details documented from '2022-08-01' to '2022-08-30'</p>
                <p>10. which is the most frequent Medicine Name?</p>
                <p>11. which is the most frequent Medicine Manufacturer?</p>
               

                
            </p>
       
        </section>
    </main>
    <footer>
        <p>&copy; MediGenie 2023</p>
    </footer>
    {% csrf_token %}
            <script>
                window.addEventListener('beforeunload', function(e) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/cleanup/', true);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                    xhr.send();
                });

                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
            </script>

</body>
</html>
